.list{
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 400px;
    height: auto;
    margin: 10px;
    box-shadow: 2px 2px 8px #bdbdbd;
}
img{
    max-width: 100%;
    height: auto;
}
.card-bottom {
    padding: 10px;
}
.title {
    font-size: 20px;
}
.desc {
    font-size: 18px;
    color: #686868;
}
.read {
    color: #1e90ff;
    background: none;
    border: none;
    width: 100%;
    padding: 0px 10px 10px 0px;
    justify-content: right;
    text-align: right;
}
